aiofiles~=24.1.0
aiohttp~=3.11.14
aiosqlite~=0.21.0
beautifulsoup4~=4.13.3
EbookLib~=0.18
fake-useragent~=1.5.1
httpx~=0.28.1
httpx-socks~=0.10.0
loguru~=0.7.3
PicImageSearch~=3.12.2
pillow~=11.1.0
pydantic~=2.10.6
python-telegram-bot[socks, job-queue]~=22.0
urlextract~=1.9.0